* {
    margin: 0;
    padding: 0;
}
:root {
    font-size: 16px;
    --size: 1620px
}

@font-face {
    font-family: "Oswald";
    src: url(../fonds/Oswald-Regular.ttf);
}

@font-face {
    font-family: "Oswald";
    src: url(../fonds/Oswald-Bold.ttf);
    font-weight: 700;
}

@font-face {
    font-family: "Oswald";
    src: url(../fonds/Oswald-SemiBold.ttf);
    font-weight: 600;
}


@font-face {
    font-family: "Oswald";
    src: url(../fonds/Oswald-Medium.ttf);
    font-weight: 500;
}

@font-face {
    font-family: "Oswald";
    src: url(../fonds/Oswald-Light.ttf);
    font-weight: 300;
}


@font-face {
    font-family: "Open Sans";
    src: url(../fonds/OpenSans-Light.ttf);
}

.header {
    display: flex;
    height: 12vh;
    width: 100%;
    box-sizing: border-box;



}

.logo {

    display: flex;
    align-items: center;
    width: 23%;



}

.logo img {
    width: 100%;
    vertical-align: top;
    padding-left: 25%;


}

.nav {
    display: flex;

    margin: 0;
    padding: 0;
    list-style: none;

    align-items: center;
    box-sizing: border-box;
    width: 70%;
    padding-left: 13%;
    
}

.nav_item {
    padding-right: 10%;

}

.nav_item a {
    color: #333333;
    text-decoration: none;
    font-size: 1.25rem;
    font-family: "Oswald";
}

.search {
    padding-top: 30px;
    width: 28%;
    box-sizing: border-box;
}

.search input {
    font-family: "Oswald";
    font-size: 0.7rem;
    height: 40px;
    width: 65%;
    text-align: center;
    border: 1px solid #a04955;
    color: #787878;
    border-radius: 50px;
    background-image: url(/img/Group.svg);
    background-repeat: no-repeat;
    background-position: 5% 60%;
    margin-left: 12%;





}

.conteiner1 {
    display: flex;
    padding-top: 87px;
    justify-content: space-between;
    align-items: center;
    margin-left: 4.2%;
    margin-right: 3.4%;
    box-sizing: border-box;
}

.conteiner1-1 {
    width: 53.7%;

}

.conteiner1-2 {
    width: 46.3%;

}

.conteiner1-2 img {
    width: 100%;
}

.text1 {
    font-family: "Oswald";
    font-weight: 700;
    font-size: 4rem;
    color: #001f3d;

}

.text2 {
    font-family: "Open Sans";
    font-size: 1.5rem;
    padding-top: 10px;
    white-space: pre-line;
    text-align: left;
}

.button {
    padding-top: 30px;
}

.button input {
    font-family: "Open Sans";
    font-size: 1.5rem;
    padding: 9px 12px;


}

.conteiner2 {
    text-align: center;
    background-color: #f1f1f1;
    margin-top: 90px;
    box-sizing: border-box;

}

.text3 {
    font-family: "Oswald";
    font-weight: 500;
    font-size: 2.25rem;
    padding-top: 80px;
    color: #333333;
}

.text4 {
    font-family: "Oswald";
    font-weight: 500;
    font-size: 4rem;
    color: #333333;
}

.conteiner2-1 {
    display: flex;
    flex-wrap: wrap;
    margin-top: 23px;
    justify-content: center;
    padding-bottom: 79px;
    padding-left: 2.5%;
    padding-right: 2.5%;
    gap: 2%;

}
.card2{
    width: 300px;
}
.rating svg{
    width: 100%;

}

.conteiner3 {
    display: flex;
    margin-top: 90px;
    align-items: center;
    justify-content: space-between;
    margin-left: 4.9%;
    margin-right: 4.9%;
    box-sizing: border-box;
}

.conteiner3-1 {
    width: 55%;

    padding-right: 4.5%;

}

.conteiner3-1 img {
    width: 100%;

}

.conteiner3-2 {
    width: 45%;
    padding-left: 5.2%;
}

.conteiner4 {
    display: flex;
    background-color: #f5f5f5;
    justify-content: space-between;
    margin-top: 90px;
    padding-left: 10.5%;
    padding-right: 8%;
    padding-top: 107px;
    padding-bottom: 108px;
    box-sizing: border-box;

}

.conteiner4-1 {
    width: 50%;
    padding-right: 5%;
    text-align: center;
    position: relative;


}


.conteiner4-1 img {
    width: 100%;

}

.text5 {
    font-family: "Open Sans";
    font-size: 1.5rem;
    padding-top: 10px;
    white-space: pre-line;
    text-align: center;
   
}

.on {
    padding-top: 17px;
    width: 90%;
    padding-bottom: 17px;
    font-family: "Oswald";
    font-weight: 500;
    font-size: 2.25rem;
    background: #a04955a1;
    position: absolute;
    text-align: center;
    color: #fffafa;
    transform: translateY(-105%);


}

.conteiner5 {
    background-image: url(../img/Rectangle\ 15.png);
    background-repeat: round;
    width: 100%;
    padding-left: 10.5%;
    box-sizing: border-box;
}

.text6 {
    font-family: "Oswald";
    font-weight: 700;
    font-size: 4rem;
    color: #ffffff;
    padding-top: 20px;
}

.text7 {
    font-family: "Open Sans";
    font-size: 1.5rem;
    white-space: pre-line;
    text-align: left;
    color: #ffffff;
}

.button2 {
    padding-top: 30px;
    padding-bottom: 40px;
}

.button2 input {
    background-color: #a04955;
    color: #ffffff;
    padding: 9px 21px;
    font-family: "Open Sans";
    font-size: 1.5rem;
}

.conteiner6 {
    position: relative;
    box-sizing: border-box;
}

.conteiner6-1 {
    background-color: #a04955;
    margin-left: 4.2%;
    margin-right: 4.2%;
    text-align: center;
    margin-top: 90px;
    padding-top: 8px;
    padding-bottom: 300px;
    box-sizing: border-box;


}

.conteiner6-2 {
    display: flex;
   
    justify-content: space-between;
    width: 100%;
    box-sizing: border-box;
    padding-left: 10.3%;
    padding-right: 10.3%;
    position: absolute;
    transform: translateY(-50%);
    gap: 3%;

}

.card1 {
    text-align: center;
    width: 35%;
    border: 1px solid #a04955;
    background-color: #ffffff;
    box-sizing: border-box;


}

.card1 img {
    width: 100%;
}

.text8 {
    font-family: "Oswald";
    font-weight: 500;
    font-size: 1.5rem;


}

.card1 input {
    background-color: #a04955;
    color: #ffffff;
    padding: 9px 8%;
    font-family: "Open Sans";
    font-size: 1.125rem;
    margin-top: 15px;
    margin-bottom: 38px;


}

.conteiner7 {
    margin-top: 400px;
    text-align: center;
    padding-top: 130px;
    background-color: #f3f3f3;
    margin-left: 7.8%;
    margin-right: 7.8%;
    padding-bottom: 43px;
    box-sizing: border-box;
    position: relative;
    margin-bottom: 46px;
}

.emblem {

    width: 19.2%;
    position: absolute;
    transform: translate(210%, -530px);


}

.emblem img {
    width: 100%;
}

.button3 input {
    padding: 11px 73px;
    font-family: "Open Sans";
    font-size: 1.125rem;
    margin-top: 35px;
    margin-bottom: 43px;
}

.footer {
    display: flex;

    background-color: #a04955;
    justify-content: space-between;
    padding: 50px 4.2%;
    box-sizing: border-box;
    color: #ffffff;

}

.one {
    width: 15.5%;

}

.two {
    width: 12.4%;


}

.three {
    width: 11.5%;

}

.four {
    width: 43.5%;

}

.footer a {
    text-decoration: none;
    color: #ffffff;
    font-family: "Oswald";
    font-size: 1.125rem;
    line-height: 32.54px;




}

.text9 {
    font-family: "Oswald";
    font-weight: 600;
    font-size: 1.5rem;
    padding-bottom: 20px;
}

.four1 {
    padding-bottom: 30px;
    
}

.input {
    padding-top: 20px;
    position: relative;
    width: 80%;
}

.input1 {
    color: #a04955;
    font-family: "Oswald";
    font-size: 1.125rem;
    padding: 14px 47% 14px 3%;
  
}

.input2 {
    color: #ffffff;
    font-family: "Oswald";
    font-size: 1.125rem;
    padding: 5px 7% 5px 7%;
    background-color: #a04955;
    position: absolute;
    transform: translate(-110%, 25%);
}

.end {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 4.2%;
    font-family: "Oswald";
    font-size: 0.875rem;
    color: #00000085;
}

a.arrow {
    position: fixed;
    left: 90%;
    top: 87%;
    opacity: .8;
    z-index: 1;
}

a.arrow:hover {
    opacity: 1;

}

.nav2 {
    display: flex;
    align-items: center;

    margin-left: 4.2%;
    margin-right: 4.2%;

    margin-top: 55px;
}

.home a {
    font-family: "Oswald";
    font-weight: 500;
    font-size: 1.5rem;
    text-decoration: none;
    color: #000000;

}

.home {
    padding-right: 12%;
    
}
.search2{
    width: 62%;
}


.search2 input {
    width: 100%;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 3px solid #c4c4c4;
    font-family: "Oswald";
    font-weight: 500;
    font-size: 4rem;
    color: #c4c4c4;
    
   
}

.conteiner8 {
    
    display: flex;
    justify-content: space-between;
    background-color: #e5e5e5;
    padding-left: 4.2%;
    padding-right: 4.2%;
    padding-top: 20px;

    width: 100%;
    box-sizing: border-box;
    margin-top: 26px;

}

.conteiner8-1 {
    width: 21.2%;
    height: 1050px;
    border: 1px solid #a04955;
    background-color: #ffffff;
    padding-left: 1.9%;
    padding-right: 0.8%;
    box-sizing: border-box;
    padding-top: 25px;
    padding-bottom: 23px;
}




.size input {
    background-color: #e5e5e5;
    width: 14%;
    height: 40px;
    margin-right: 5.8%;
    margin-bottom: 17px;
    text-align: center;
    font-family: "Oswald";
    font-weight: 300;
    font-size: 1.25rem;
    border: none;

}

.title {
    display: flex;
    justify-content: space-between;

    padding-bottom: 12px;
    font-family: "Oswald";
    font-size: 1.25rem;
    padding-right: 5.8%;
}

.border {
    border-bottom: 1px solid #a04955;
    margin-top: 22px;
    margin-right: 5.8%;
    margin-bottom: 20px;
}

.color input {
    width: 14%;
    height: 40px;
    margin-right: 5.8%;
    margin-bottom: 17px;
    border: 1px solid #bcbccc;
}

.black {
    background-color: #000000;
}

.brown {
    background-color: #744524;
}

.blue {
    background-color: #113eb1;
}

.green {
    background-color: #549554;
    

}

.grey {
    background-color: #808080;
}

.yellow {
    background-color: #e59500;
    
    
}

.white {
    background-color: #ffffff;
    border: 1px solid #000000;
}

.list p {
    padding-top: 27px;
}

input[type="checkbox"] {
    border: 1px solid #000000;
}

.pagination {
    display: flex;
    justify-content: flex-end;
    background-color: #e5e5e5;

    padding-right: 3.1%;
    padding-bottom: 15px;
}

.pagination input {
    width: 2.4%;
    height: 35px;
    margin-right: 1%;
    color: #a04955;
    border: 1px solid #a04955;
    font-family: "Oswald";
    font-size: 1.25rem;
    margin-top: 26px;


}

.next {
    background-image: url(../img/Group\ \(1\).png);
    background-repeat: no-repeat;
    background-position: 50% 50%;



}

.prev {
    background-image: url(../img/Group\ \(1\).png);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    transform: rotate(180deg);
}

.conteiner8-2 {
    width: 78.8%;
    


}

.card {
    width: 315px;
    
    
    background-color: #ffffff;
    text-align: center;

    margin-right: 0.2%;
    margin-bottom: 20px;


}

.pic {
    width: 73.7%;
    padding-top: 24px;
    padding-bottom: 14px;
    padding-left: 13%;

}

.pic img {
    width: 100%;
}

.product-name {
    font-family: "Oswald";
    font-size: 1.25rem;
    padding-bottom: 14px;

}

.rating {
    padding-bottom: 10px;

}

.price {
    font-family: "Oswald";
    font-weight: 500;
    font-size: 1.125rem;
    padding-bottom: 24px;

}

.product-color {
    padding-bottom: 31px;
}

.product-color input {
    width: 20px;
    margin-right: 2%;
    border: none;
    cursor: pointer;

}
.size1 input{
    width: 20px;
    height: 20px;
    font-family: "Oswald";
    font-size: 1.25rem;
    margin-right: 5%; 
    background-color: #ffffff;
    margin-bottom: 20px;
    text-align: center;
    border: none;
    cursor: pointer;
}

.product-color .white {
    border: 1px solid #000000;

}

.add {
    padding-bottom: 28px;
    

}

.add input {
    color: #ffffff;
    background-color: #a04955;
    font-family: "Oswald";
    font-size: 1.125rem;
    background-image: url(../img/Vector2.png);
    background-repeat: no-repeat;
    background-position: 10% 10%;
    padding: 4px 2.5% 4px 10.5%;
    margin-left: 5%;
    cursor: pointer;
}

.page{
    width: 100%;
    justify-content: center;
    padding-left: 2%;
    flex-wrap: wrap;
    display: none;
    gap: 1%;

}
.page.active{
    display: flex;
}
.pagination input.active {
    color: #cf0f0f!important;
    border: 3px solid #d30e0e!important; 
    
}

.none {
    display: none;
}
.search-text{
    border: 3px solid #d30e0e; 
}
.container-modal{
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 3;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: repeating-linear-gradient(25deg, rgba(192, 192, 192, .2) 10px, rgba(77, 77, 77, .2) 30px);
}

.modal-window{
   position: fixed;
    width: 90%;
    background: white;
    border: 1px solid var(--blue);
}

.hide{
    display: none;
}
#modal-close{
    position: absolute;
    top: 3vh;
    right: 3%;
    cursor: pointer;
    z-index: 2;
}
.description-card{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 50px;
   

}
.img-product{
    width: 40%;
    text-align: center;
    margin-right: 5%;
    
}
.img-product img{
    width: 100%;
}
.description-product{
    width: 50%;
    
}
.btn2{
    display: flex;
    margin-top: 20px;
}
.btn-add-1{
    color: #ffffff;
    background-color: #a04955;
    font-family: "Oswald";
    font-size: 1.125rem;
    background-image: url(../img/Vector2.png);
    background-repeat: no-repeat;
    background-position: 10% 30%;
    padding: 10px 12% 10px 12%;
    margin-right: 5%;
}
.btn-add-2{
    color: #b93b54;
    font-family: "Oswald";
    font-size: 1.125rem;
    background-image: url(../img/like\ 1.png);
    background-repeat: no-repeat;
    background-position: 10% 30%;
    padding: 10px 12% 10px 12%;
    
}
.name-product{
    font-family: "Oswald";
    font-weight: 600;
    font-size: 3rem;
    margin-bottom: 20px;
}
.price-product{
    font-family: "Oswald";
    font-weight: 600;
    font-size: 2.25rem;  
    margin-bottom: 20px;
}
.text10{
    font-family: "Oswald";
    font-size: 1.125rem;
    margin-bottom: 10px;

}
.soc{
    display: flex;
    margin-top: 20px;
    gap: 3%;
    margin-bottom: 50px;
}
.fb{
    width: 35px;
    height: 35px;
    border: none;
    cursor: pointer;
    background-image: url(../img/facebook\ 1.png);
}
.tw{
    width: 35px;
    height: 35px;
    border: none;
    cursor: pointer;
    background-image: url(../img/twitter\ 1.png);
}
.pint{
    width: 35px;
    height: 35px;
    border: none;
    cursor: pointer;
    background-image: url(../img/pinterest\ 1.png);
}
.link{
    width: 35px;
    height: 35px;
    border: none;
    cursor: pointer;
    background-image: url(../img/link\ 1.png);
}
.text11{
    font-family: "Oswald";
    font-size: 1.5rem;
    color: #333333;
    text-align: center;
    border-bottom: 3px solid #B93B54;
    width: 50%;
    margin-left: 25%;
    padding-bottom: 10px;

}
.t-m-end{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 150px;
}
.text12{
    font-family: "Oswald";
    font-size: 0.875rem; 
    white-space: pre-wrap;
    color: #333333;
}
.basket{
    width: 100%;
    min-height: 100vh;
    background-color: #549554;
    text-align: center;
   
}
.text13{
     font-family: "Oswald";
    font-size: 3rem;
}
.names{
    display: flex;
    font-family: "Oswald";
    font-size: 1.5rem;
    margin-top: 20px;
}
.number{
    width: 10%;
}
.name{
    width: 40%;

}
.price1{
    width: 30%;
}
.quantity{
    width: 20%;
}
@media screen and (max-width: 768px){
    :root {
        font-size: 12px;
        --size: 100%;
        
    }
    .size input{
        height: 30px;
    }
    .color input {
        height: 30px;

    }
    
    .pagination input {
        height: 20px;
    }
    a.arrow {
        left: 85%;
    }
    .conteiner8-1{
        width: 35%;
        margin-right: 5%;
    }
   
    .product-color input{
        height: 20px;
    }
    .modal-window{
        width: 95%;
    }
    #modal-close{
        top: 50px;
       
    }
    .t-m-end{
        gap: 50px;
    }
    .search input{
        font-size: 0.6rem;
        background-position: 5% 60%;
        padding-left: 10%;
  
    }
    .header .nav_item a{
       
        font-size: 0.8rem;
        
    }
    .btn2 input{
        font-size: 0.8rem;
    }
    .button input{
        font-size: 0.8rem;
    }
  
    .on{
        font-size: 1.5rem;
    }
    .header .nav {
        width: 60%;
    }
    .product-name{
        font-size: 1rem;
    }
    .card{
        width: 80%;
    }
    .input2 {
        
        font-size: 0.8rem;
        padding: 5px 5% 5px 5%;
        transform: translate(220%, -150%);
    }
    

    
   
}
@media screen and (max-width: 992px) {
    :root {
        --size: 768px;
        font-size: 14px;
    }
    .conteiner8-1 .size input{
        height: 25px;
    }
    .conteiner8-1 .color input {
        height: 30px;

    }
    .nav {
        width: 60%;
    }
    
   
    .conteiner8-1{
        width: 35%;
        margin-right: 5%;
    }
    .nav_item a {
       
        font-size: 1rem;
        
    }
    .header .search input{
        font-size: 0.8rem;
        background-position: 5% 60%;
        padding-left: 10%;
  
    }
    .conteiner6-2 input{
        font-size: 0.6rem;
    }
    
    

}
@media screen and (min-width: 1620px){
  
    .header, main {
        width: 1620px;
        margin: auto;
    }
    .modal-window #modal-close{
        top: 15vh;
    }
    

    
}


