body {
    margin: 0;
}

.bloc1 {
   
    height: 9vh;
    background-color: #243B93;
    display: flex;
    font-size: 16px;
    padding-left: 12%;
    box-sizing: border-box; 
    align-items: center;
    justify-content: space-evenly;
    padding-right: 14%;


}

a {
    text-decoration: none;
    color: #FFFFFF;

}

.two {
    width: 6%;
    text-align: center;
    
}

.four {
    padding-left: 10%;
}

.three {
    background-color: #BFF0FF;
    height: 8vh;
    font-size: 44px;
    padding-left: 15%;
    padding-top: 0.5%;
    color: #202846;
    box-sizing: border-box;
}

main {  
    box-sizing: border-box;
    background-color: #f5f5f5;
    margin: 0;
}

.head {
    width: 67%;
    background-color: #FFFFFF;
    font-size: 28px;
    color: rgba(0, 0, 0, 0.61);
    margin: 1% 15.5%;
    text-align: center;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    box-sizing: border-box;
}

.conteiner{
    display: flex;
    background-color: #2CBDEB;
    width: 67%;
    box-sizing: border-box;
    margin: 1.5% 15.5% 2.5%;
    position: relative;
    align-items: center;
    
    

}
.img{
    margin: 2.5% 1.3% 2% 3.3%;
    width: 35%;
    

}
img.picture{
    width: 100%;
   
}
.text2{
    width: 64%;
}
.h{
    color: #353c57;
    font-size: 36px;
    border-bottom: 3px solid #FFFFFF;
    width: 92%;
    margin-left: 1.3%;
    font-weight: 600;
}
.text{
    background-color: #edfbff;
    font-size: 22px;
    color: #202846;
    width: 92%;
    min-height: 205px;
    padding: 1.5% 20% 4% 2%;
    box-sizing: border-box;
    margin: 1% 1.3%;
    line-height: 28px;
    overflow: hidden;

}
.star{
    position: absolute;
    right: 0.5%;
    top: 2%;
    

   
}

a.red{
    width: 15%;
    background-color: #243B93;
    border: 2px solid #243B93;
    border-radius: 30px;
    font-size: 24px;
    padding: 0.8%;
    box-sizing: border-box;
    position: absolute;
    right: -2.5%;
    bottom: 3%;
    text-align: center;
}
.head:hover{
    border: 2px solid #bdc7eb;
    box-shadow: 20px 20px 20px 0px #bdc7eb, -20px -20px 20px 0px #bdc7eb;


}
.conteiner:hover{

    background-color: #2CBDEB;
    box-shadow: 20px 20px 20px 0px #bdc7eb, -20px -20px 20px 0px #bdc7eb; 
    
    
}
a.red:hover {
    background-color: #ef075b;
    border: 2px solid #ef075b;

}
.star svg path:hover{
    fill: rgba(255, 245, 0, 1);
   
}

a.arrow{
    position: fixed;
    left: 85%;
    top: 87%;
    opacity: .8;
}

a.arrow:hover{
    opacity: 1;

}


