* {
    margin: 0;
    padding: 0;
}
header{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: rgba(85, 88, 88, 0.822);
    font-size: 2rem;
    font-weight: 700;
    width: 800px;
    height: 200px;
    border-top: 5px solid red;
    border-right: 5px solid red;
    border-left: 5px solid red;
    box-sizing: border-box;
}
div{
    display: flex;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: rgba(85, 88, 88, 0.822);
    font-size: 1.5rem;
    font-weight: 700;
    display: flex;
    align-items: center;
    white-space: pre-wrap;
    width: 100px;
    height: 400px;
    border-top: 5px solid orange;
    border-left: 5px solid orange;
    border-right: 5px solid orange; 
    box-sizing: border-box;
}
section{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: rgba(85, 88, 88, 0.822);
    font-size: 2rem;
    font-weight: 700;
    display: flex;
    width: 700px;
    height: 400px;
    border-top: 5px solid orange;
    border-right: 5px solid orange;
    box-sizing: border-box;
}
footer{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: rgba(85, 88, 88, 0.822);
    font-size: 2rem;
    font-weight: 700;
    display: flex;
    width: 800px;
    height: 200px;
    border: 5px solid rgba(87, 84, 84, 0.801);
    box-sizing: border-box;
}