* {
    margin: 0;
    padding: 0;
}

:root {
    font-size: 30px;
    font-family: "Rosario";
    --size: 1620px
}

.header {
    width: var(--size);
}

.page {
    width: var(--size);
}

@font-face {
    font-family: "Rosario";
    src: url(../fonds/Rosario-Bold.ttf);
}

@font-face {
    font-family: "Rosario";
    src: url(../fonds/Rosario-SemiBold.ttf);
    font-weight: 600;
}

@font-face {
    font-family: "Rosario";
    src: url(../fonds/Rosario-BoldItalic.ttf);
    font-style: italic;
}

@font-face {
    font-family: "Volkhov";
    src: url(../fonds/Volkhov-Regular.ttf);
}


.header {
    height: 12vh;
    top: 0;
    position: sticky;
    display: flex;
    width: 100%;
    z-index: 1;
}

.logo {
    background: #ffffff;
    width: 11%;
    display: flex;
    align-items: center;
    
}

.logo img {
    width: 100%;
    vertical-align: top;
    


}


.nav {
    display: flex;
    background: black;
    width: 89%;
    margin: 0;
    padding: 0;
    list-style: none;
    justify-content: flex-end;
    align-items: center;
    box-sizing: border-box;
}

.nav_item {
    padding-right: 3%;

}

.nav_item a {
    color: #ffffff;
    text-decoration: none;
    font-size: 1.2rem;
    font-style: italic;
}

.page {
    width: 100%;
    min-height: 88vh;
    border: 1px solid black;
    box-sizing: border-box;
    


}

.conteiner1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 6.5vh;
    padding-bottom: 6vh;
    box-sizing: border-box;


}

.pic1-1 {
    width: 23.4%;
    box-sizing: border-box;
    padding-left: 2.2%;
    padding-right: 1.9%;
    position: relative;
    animation: animationLeft 2s linear 1;
}

.pic1-2 {
    width: 26.6%;
    box-sizing: border-box;
    padding-left: 1.9%;
    padding-right: 0.5%;
    position: relative;
    animation: animationLeft 1s linear 1;
}

.pic1-2-1 {
    padding-bottom: 2.2vh;

}

.pic1-3 {
    width: 26.6%;
    box-sizing: border-box;
    padding-right: 1.9%;
    padding-left: 0.5%;
    position: relative;
    animation: animationRight 1s linear 1;
}

.pic1-3-1 {
    padding-bottom: 2.2vh;

}

.pic1-4 {
    width: 23.4%;
    box-sizing: border-box;
    padding-right: 2.2%;
    padding-left: 1.9%;
    position: relative;
    animation: animationRight 2s linear 1;


}

.page img {
    width: 100%;
    vertical-align: top;
    height: 100%;

}

@keyframes animationLeft {
    from {
        left: -50vw;
    }

    to {
        left: 0vw;
    }
}

@keyframes animationRight {
    from {
        right: -50vw;
    }

    to {
        right: 0vw;
    }
}

.conteiner2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;



}

.conteiner2-1 {

    padding-left: 4%;
    padding-right: 2.7%;
    width: 51%;

}

.conteiner2-1-1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 2.9vh;


}

.conteiner2-1-2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 3.6vh;

}

.conteiner2-2 {
    width: 49%;
   

}

.text2 {
    text-align: center;
    font-size: 1.6rem;
    font-style: italic;
    white-space: nowrap;
}

.pic2-1 {
    width: 42%;
    position: relative;
    animation: animationEllipse1 8s ease-in infinite;
}

.pic2-2 {
    width: 42%;
    position: relative;
    animation: animationEllipse2 8s ease-in infinite;
}

.pic2-3 {
    width: 42%;
    position: relative;
    animation: animationEllipse3 8s ease-in infinite;
}

.pic2-4 {
    width: 42%;

    animation: animationEllipse5 8s ease-in infinite;

}

.img {
    padding: 6%;
}


@keyframes animationEllipse1 {

    from,
    to {
        transform: translate(0, 0)
    }

    25% {
        transform: translate(138%, 0)
    }

    50% {
        transform: translate(138%, 107%)
    }

    75% {
        transform: translate(0, 107%)
    }

}

@keyframes animationEllipse2 {

    from,
    to {
        transform: translate(0, 0)
    }

    25% {
        transform: translate(0, 107%)
    }

    50% {
        transform: translate(-138%, 107%)
    }

    75% {
        transform: translate(-138%, 0)
    }

}

@keyframes animationEllipse3 {

    from,
    to {
        transform: translate(0, 0)
    }

    25% {
        transform: translate(0, -107%)
    }

    50% {
        transform: translate(138%, -107%)
    }

    75% {
        transform: translate(138%, 0)
    }
}

@keyframes animationEllipse5 {

    from,
    to {
        transform: translate(0, 0);
    }

    25% {
        transform: translate(-138%, 0);

    }

    50% {
        transform: translate(-138%, -107%);

    }

    75% {
        transform: translate(0, -107%);

    }
}


.title {
    font-size: 3.2rem;
    text-align: center;
    padding-top: 1.2vh;
}

.conteiner3-1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 4.7vh;
    padding-bottom: 4.7vh;
    padding-left: 3.5%;
    padding-right: 3.5%;


}

.pic3-1 {
    position: relative;
    width: 21%;
    box-sizing: border-box;
}

.pic3-2 {
    margin-right: 1.5%;
}

.name {
    width: 100%;
}

.pic3-1 .name {
    font-family: "Volkhov";
    font-size: 1.6rem;
    background: #a3540ab4;
    position: absolute;
    padding-top: 10%;
    padding-bottom: 10%;
    text-align: center;
    color: #fffafa;
    border-radius: 0 0 30px 30px;
    transition: 0.5s linear;
    transform: translateY(-100%);
    opacity: 0;
    visibility: hidden;
}

.pic3-1:hover .name {
    opacity: 1;
    visibility: visible;

}

.conteiner3-1:hover .pic3-1 {
    filter: brightness(0.2);
}

.conteiner3-1:hover .pic3-1:hover {
    filter: brightness(1);
}

.conteiner4-1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 8.5%;
    padding-right: 8.5%;
    padding-top: 4.6vh;
}

.conteiner4-1-1 {
    width: 58%;
    margin-right: 2%;
    box-sizing: border-box;

}

.map {
    width: 42%;
}

iframe {
    width: 100%;
    height: 53vh;
}

.subject {
    font-style: italic;
    font-size: 2.13rem;
    text-align: center;
}

.form {

    padding-top: 1.6vh;
    background: #e5e5e5;
}

input[type="text"] {
    width: 40.6%;
    height: 7vh;
    margin-left: 2.8%;
    margin-top: 3.4vh;
    box-sizing: border-box;
    font-size: 1.2rem;
    color: #0000007c;
    padding-left: 2%;
    margin-right: 5.3%;
}

input[type="email"] {
    width: 48%;
    height: 7vh;
    margin-top: 3.4vh;
    box-sizing: border-box;
    font-size: 1.2rem;
    color: #0000007c;
    padding-left: 14%;
}

textarea {
    width: 94%;
    height: 19vh;
    margin-top: 4vh;
    margin-bottom: 31px;
    margin-left: 3%;
    box-sizing: border-box;
    font-size: 1.2rem;
    color: #0000007c;
    padding-left: 2%;
}

.conteiner4-2 {
    display: flex;
    justify-content: space-between;
    padding-top: 8.6vh;
    padding-left: 4%;
    padding-right: 3%;
}

.text3 {
    font-weight: 600;
    font-style: italic;
    line-height: 1.2rem;
    font-size: 0.8rem;
    white-space: break-spaces;
}



.conteiner4-2 a {
    text-decoration: none;
    color: #000000;
}

.text5 {
    padding-bottom: 3.7vh;
}

.text3 img {
    width: 26px;
}
.time{
    padding-left: 4%;
    padding-right: 4%;
}

@media screen and (max-width: 768px) {
    :root {
        --size: 100%;
        font-size: 14.4px;
    }

    main .header {
        height: 8vh;
    
    }
   
    .nav_item a{
        font-size: 0.8rem;
    }

    .page {
        min-height: 92vh;
    }

    .conteiner1 {
        flex-direction: column;

    }

    .pic1-2 {
        display: flex;
        flex-direction: column;
        padding-top: 2vh;
    }

    .pic1-3 {
        display: flex;
        flex-direction: column;
        padding-top: 2vh;
        padding-bottom: 2vh;
    }
    .conteiner1 .pic1-1{
        width: 80%;
    }
    .conteiner1 .pic1-2{
        width: 80%;
    }
    .conteiner1 .pic1-3{
        width: 80%;
    }
    .conteiner1 .pic1-4{
        width: 80%;
    }

    .conteiner2-1 {
        width: 80%;
      
        padding-top: 15vh;
    }

    .conteiner2-2 {
        display: none;

    }

    .conteiner3-1 {
        flex-direction: column;
    }
    .conteiner3-1 div[class^="pic3"]{
        width: 80%;
    }

    .pic3-1 .name {
        border-radius: 0 0 40px 40px;
        
    }

    .pic3-1 {
        padding-bottom: 2vh;
    }

    .conteiner4-1 {
        flex-direction: column;
    }

    .conteiner4-2 {
        display: block;
        padding-left: 8%;
    }

    .map {
        width: 100%;
        order: 1;
    }

    .conteiner4-1-1 {
        width: 100%;
        order: 2;
    }

    .time {
        padding-top: 2vh;
        padding-bottom: 2vh;
    }

}

@media screen and (max-width: 992px) {
    :root {
        --size: 768px;
        font-size: 18.4px;
    }

    .header {
        height: 10vh;
    }
    

    .page {
        min-height: 90vh;
    }

    .conteiner1 {
        flex-wrap: wrap;
        justify-content: space-around;

    }
    .pic1-1{
        order: 1;
        width: 40%;
        padding-bottom: 2vh;
    }
   
    .pic1-2{
        width: 40%;
        order: 3;
    }
    .pic1-3{
        width: 40%;
        order: 4;
    } 
    .pic1-4{
        width: 40%;
        order: 2;
        padding-bottom: 2vh;
    }


    .conteiner2 {
        flex-direction: column-reverse;
    }
   
    .conteiner3-1{
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
    .pic3-1{
        width: 40%;
        padding-bottom: 2vh;
    }
    .conteiner4-1 {
        flex-direction: column;
    }
    .map {
        width: 100%;
    }

    .conteiner4-1-1 {
        width: 100%;
        padding-bottom: 2vh;
    }

}
@media screen and (min-width: 1620px){
  
    .header, .page {
        width: 1620px;
        margin: auto;
    }
    .conteiner1{
        overflow: hidden;
    }

    
}

