body {
    margin: 0;
}

@font-face {
   font-family: 'DM Serif Display'; 
   src: url(/fonds/DMSerifDisplay-Regular.ttf);
}

@font-face{
    font-family: "Padauk";
    src: url(/fonds/Padauk-Regular.ttf);
}
@font-face{
    font-family: "Public Sans";
    src: url(/fonds/PublicSans-Regular.ttf);

}
@font-face{
    font-family: "Public Sans";
    src: url(/fonds/PublicSans-Bold.ttf);
    font-weight: 700;
}
@font-face{
    font-family: "Public Sans";
    src: url(/fonds/PublicSans-Medium.ttf);
    font-weight: 500;
}
.header1{
    background: #001124;
    height: 19vh;

}

.conteiner {
    display: flex;
    background: #001124;
    align-items: center;

}

.pic {
    width: 47%;
    
}

.items {
    width: 52%;
    padding-left: 13.7%;
    
}

.pic img {
    width: 100%;
}

.heading {
    font-size: 2.8em;
    color: #ffffff;
    font-family: 'DM Serif Display';
}

.email label {
    display: block;
    font-size: 1.25em;
    color: #ffffff;
    padding-top: 42px;
    font-family: "Padauk";
}

.email input {
    display: block;
    width: 47.7%;
    height: 5vh;
}

.Password label {
    display: block;
    font-size: 1.25em;
    color: #ffffff;
    font-family: "Padauk";
}

.Password input {
    display: block;
    width: 47.7%;
    height: 5vh;

}
.text1 a{
    font-size: 1.25em;
    text-decoration: none;
    color: #449ffe;
    font-family: "Padauk";
}
.text2{
    font-size: 1.25em;
    color: #ffffff;
    font-family: "Padauk";
    
}
.text2 a{
    text-decoration: none;
    color: #449ffe;
    font-family: "Padauk";
}


.button button{
    width: 25%;
    height: 5vh;
    background: #015fc7;
    color: #ffffff;
    font-size: 1.25em;
    text-align: center;
    font-family: "Padauk";
}
.footer1{
    background: #001124;
    height: 27.5vh;

}
.header{
    padding-left: 4.6%;
}
.text5{
    font-family: "Public Sans";
    font-weight: 700;
    font-size: 1.5em;
    padding-top: 64px;
    padding-left: 0.5%;
}
.text3{
    font-family: "Public Sans";
    font-size: .88em;
    padding-top: 79px;
}
.text3 span{
    color: #d83933;
}
.text4{
    font-family: "Public Sans";
    font-size: 1.25em;
    font-weight: 700;
    padding-top: 24px;
    margin-bottom: 32px;
}
.conteiner1{
    display: flex;
    justify-content: space-evenly;
    
}
.conteiner1-1{
    width: 43.4%;
}
.conteiner1-2{
    width: 43.4%;
}


.conteiner1 select{
    width: 100%;
    height: 5vh; 
    display: block;
}
.conteiner1 label{
    font-family: "Public Sans";
    font-weight: 500;
    display: block;
    padding-bottom: 8px;
    
}
.conteiner1 option{
    font-family: "Public Sans";
    display: block;
    
}


.conteiner1 input{
    width: 100%;
    height: 5vh; 
    font-family: "Public Sans";
}
.item input{
    color: #0050d8;
    background-image: url(/img/kfyk.svg);
    background-repeat: no-repeat;
    background-position: 98% 40%;

}
.item_date input{
    text-align: center;
}
.footer{
    width: 91%;
    margin-left: 4.6%;
    padding-top: 27px;
    display: flex;
    text-align: center;
}
.footer input{
    width: 24px;
    height: 24px;
    accent-color: #ff00ff;
}
.footer label{
    font-family: "Public Sans";
    padding-left: .55%;
    padding-top: 2px;
  
}
.border2{
    width: 91%;
    margin-left: 4.6%;
    padding-top: 27px;
    border-bottom: 1px solid #d1d1d1;
}
.item1 input{
    background-image: url(/img/kfyk.svg);
    background-repeat: no-repeat;
    background-position: 98% 40%;
    color: #747474;
}
.item_Purged{
    display: flex;
    padding-top: 92px;
    align-items: center;
    padding-bottom: 18px;
}

.item_Purged input{
    width: 24px;
    height: 24px;
    
    
}
.item_Purged label{
    width: 10%;
    font-family: "Public Sans";
    padding-left: 2%;
    padding-top: 1%;
    
}
.header2{
    padding-left: 4.6%;
    padding-top: 32px;
    font-family: "Public Sans";
    font-size: 1.25em;
    font-weight: 700;
    margin-bottom: 32px;


}
.conteiner1-1-1{
    display: flex;
    padding-top: 27px;
    
}
.conteiner1-1-1 input{
    width: 24px;
    height: 24px;
    
}
.conteiner1-1-1 label{
    padding-left: 1%;
    white-space: pre-line;
    line-height: 1.4em;
   

}

.border{
    width: 91%;
    margin-left: 4.6%;
    padding-top: 32px;
    border-bottom: 1px solid #d1d1d1;
}
.Special{
    white-space: pre-line;
}
.red{
    color: #d83933;
}
.item2 input{
    background-image: url(/img/search.svg);
    background-repeat: no-repeat;
    background-position: 98% 40%;
    color: #747474;
    
}
.item2-2 input{
    background-image: url(/img/search.svg);
    background-repeat: no-repeat;
    background-position: 98% 40%;
    color: #0050d8;
    
}
.border1{
    width: 91%;
    margin-left: 4.6%;
    padding-top: 40px;
    border-bottom: 1px solid #d1d1d1;

}
.button1 button{
    width: 7%;
    height: 5vh;
    background: #015fc7;
    color: #ffffff;
    text-align: center;
    font-family: "Public Sans";
    font-weight: 700;
    margin-top: 16px;
    margin-left: 89%;
    border: 1px solid #015fc7;
    border-radius: 3px;
}
.header3{
    height: 12vh;
    background: #001124;
}
.conteiner2{
    display: flex;
    background: #001124;
    align-items: center;
    justify-content: space-between;
}
.pic1{
    width: 45%;
    margin-left: 10%;
    margin-right: 8%;
  
}
.items1{
    width: 54%;
    margin-left: 8%;
}
.pic1 img{
    width: 100%;
    
    
}
.items1-1{
    padding-top: 38px;

}
.items1-1 label{
    display: block;
    font-size: 1.25em;
    color: #ffffff;
    font-family: "Padauk";   
}
.items1-1 input{
    display: block;
    width: 53%;
    height: 5vh;
    padding-bottom: 11px;
}
.button2 input{
    width: 29%;
    padding-top: 8px;
    height: 5vh;
    background: #015fc7;
    color: #ffffff;
    font-size: 1.25em;
    text-align: center;
    font-family: "Padauk";
    margin-top: 37px;
    margin-left: 15%;
    border: 1px solid #015fc7;
    border-radius: 3px;
    
}
.footer2{
    height: 12vh;
    background: #001124;
}




