* {
    margin: 0;
    padding: 0;
}
.header{
    width: 100%;
    height: 10vh;
    background-color: rgb(65, 66, 66);
    border: 5px solid black;
    box-sizing: border-box;
}
.window{
    display: flex;
    font-size: 1.5rem;
    
}
.one-window{
    width: 50%;
    min-height: 90vh;
    background-color: rgb(25, 25, 26);
    border: 5px solid black;
    box-sizing: border-box;
    
    color: beige;

}
.two-window{
    width: 50%;
    min-height: 90vh;
    background-color: rgb(213, 213, 236); 
    border: 5px solid black; 
    box-sizing: border-box;
   
}
.number{
    padding-right: 6%;
   
    
}