.one{
    padding-bottom: 16px;
}
.two{
    padding-top: 16px;
}
.copy{
    height: 50px;
    width: 770px;
    background-color: aqua;
    margin-top: 20px;
}
.four{
    height: 100px;
    width: 100px;
    background-color: blue;
    margin-left: 20px;
    font-size: 40px;
    text-align: center;


}
.five{
    display: flex;
}

