* {
    margin: 0;
    padding: 0;
}

:root {
    font-family: "Roboto";


}
@font-face{
    font-family: "Roboto";
    src: url(../font/Roboto-Regular.ttf);
}

.conteiner1{
    padding-left: 9.5%;
    padding-right: 9.5%;
}
.start{
    font-size: 1.19rem;
    color: #000000e7;
}
.home{
    color: #000000e7; 
}
.img1{
    height: 40vh;
}
.Shop{
    font-size: 3.5rem;
    padding-bottom: 1vh;
}
.With{
    font-size: 1.25rem;
    color: #ffffff7a;
    padding-bottom: 8vh;
}
.card8{
    margin: 6rem 10%;
}
.text2{
    color: #212529;
    
}
.text125{
    font-size: 1.25rem;
   
}
.text094{
    font-size: 0.94rem;
}
.text3{
    color: #6c757c;
}
.footer{
    background-color: #212529;
    color: #ffffff;
    text-align: center;
    height: 10vh;
    padding-top: 4vh;
}
.sale1{
    position: relative;
}
.sale{
    position: absolute;
    right: 2%;
    top: 2%;
}


