body{
    margin: 0px;

}
.header {
    text-align: center;
    padding-top: 20px;
    word-spacing: 20px;
    width: 1440px;
    
}

.blue {
    color: #3E45E8;
    font-size: 48px;

}

.yellow {
    color: #e3c23e;
    font-size: 48px;
}

.baner {
    color: #FFFFFF;
    font-size: 48px;
    background-image: url(../img/img\ прапор.png), url(../img/1444411287_oboyi-na-robochiy-stl-ukrayina-8\ 1.png);
    background-repeat: no-repeat;
    padding: 225px 150px 236px;
    background-position: 5% 50%, 0% 0%;
    word-spacing: 5px;
    letter-spacing: 2px;
    line-height: 80px;
    margin-top: 10px;
    width: 1440px;
    
   
}

.text {
    font-size: 48px;
    text-indent: 80px;
    margin-top: 48px;
    margin-bottom: 10px;
    font-weight: 600;
    width: 1440px;
}

.gradient {
    width: 779px;
    height: 12px;
    background: linear-gradient(to right, #00E0FF, #1400FF 50%, #FFA800 50%, rgba(255, 245, 0, 0));

}

.conteiner {
    display: flex;
    padding-left: 20px;
    width: 1440px;
    
    
}

.picture1 {
    width: 400px;
    height: 481px;
    box-sizing: border-box;
    margin: 20px;
    border: 5px solid #0d095f;
    border-radius: 8%;
    box-shadow: -20px 20px 20px 0px #5c57aa;

}
.picture2 {
    width: 400px;
    height: 481px;
    box-sizing: border-box;
    margin: 20px;
    border: 5px solid #0d095f;
    border-radius: 8%;
    box-shadow: 0px 20px 20px 0px #5c57aa;

}
.picture3 {
    width: 400px;
    height: 481px;
    box-sizing: border-box;
    margin: 20px;
    border: 5px solid #0d095f;
    border-radius: 8%;
    box-shadow: 20px 20px 20px 2px #5c57aa;

}

.text1 {
    color: #0072bd;
    font-size: 24px;
    margin: 10px;
    font-weight: 600;
}

.text2 {
    color: #FF9900;
    font-size: 20px;
    margin: 20px 20px 20px 10px;

}

.text3 {
    font-size: 40px;
    font-weight: 600;
    margin-top: 80px;
    text-align: center;
    width: 1440px;

}

.line {
    border-bottom: 7px #1400FF solid;
    width: 592px;
    margin: auto;
    margin-top: 10px;

}

.maps {
    text-align: center;
    width: 100%;
    padding-top: 30px;
    width: 1440px;
}
.button{
    border: 2px solid #2a61f0;
    background-color: #2a61f0;
    text-decoration: none;
    color: #FFFFFF;
    font-size: 64px;
    text-align: center;
    border-radius: 40px;
    padding: 5px 200px;


}
.href{
    width: 1440px;
    text-align: center;
}
.contact{
    width: 1440px;
    height: 233px;
    background: linear-gradient(to top, #013235 0%, #0d0661);
    margin-top: 40px;
    text-align: center;
}
.email{
    color: #a89d9d;
    text-decoration: none;
    font-size: 25px;
    text-transform: uppercase;
    letter-spacing: 5px;
}
.tel{
    color: #a89d9d;
    text-decoration: none;
    font-size: 36px;
    letter-spacing: 5px;
}
.tel1{
    padding: 10px;
}


#rec_bloc li{
    display: inline-block;
}
#rec_bloc a{
    padding: 10px;
}
