body{
    margin: 0;
}
.header{
    display: flex;
    background-color: #212529;
    justify-content: space-between;
    padding-left: 3%;
    padding-right: 2%;
    padding-top: 1rem;
    
}
.list{
    display: flex;
    font-size: 18px;
    align-self: center;
    justify-content: space-evenly;
    width: 30%;
}

.list a{
    color: #FFFFFF;
    text-decoration: none;
}

a.label{
    width: 8%;
    height: 10vh;
    background-color: #FFB742;
    border: 1px solid #FFB742;
    border-radius: 40%;
    text-decoration: none;
    color: #212529;
    font-size: 18px;
    padding: 12px 26px;
    font-weight: 550;
}
.button{
    padding-top: 23px;

}

.list a:hover{
    color: #FFB742;

}

main{
    background-color: #212529;
}
.block1{
    text-align: center;
}
.text1{
    font-size: 32px;
    padding-top: 3rem;

}
.white{
    color: #FFFFFF;
}
.yellow{
    color: #FFB742;
}
.text2{
    font-size: 48px;
    padding-top: 1rem;
}
.text3{
    font-size: 24px;
    padding-top: 3rem;
}
.avataaars1{
    padding-top: 2rem;
}
.conteiner{
    display: flex;
    text-align: center;
    justify-content: space-evenly;
    padding-top: 5rem;
    padding-left: 5%;
    padding-right: 5%;
}
.conteiner1{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 30%;
    background-color: #292B2E;
    text-align: center;
    border: 2px solid #292B2E;
    border-radius: 8%;
    padding: 1rem;
    box-sizing: border-box;
    
}
.plus{
    font-size: 32px;
    color: #FFB742;
}
.letter{
    font-size: 16px;
    color: #FFFFFF;
}
.conteiner1:hover{
    
    background: linear-gradient(to right, #FFB742 0%, rgba(255, 123, 66, .76) 100%);
}
.conteiner1:hover .letter{
    color: #212529;
} 
.conteiner1:hover .plus{
    color: #212529;
}
.conteiner1:hover{
    cursor: pointer;
}
.conteiner2{
    display: flex;
    margin-top: 15rem;
    width: 100%;
    justify-content: space-between;
    
}
.foto{
    width: 51%;
    padding-top: 2rem;
    padding-right: 2rem;
    padding-bottom: 2rem;
}
img.picture{
    width: 100%;
    height: 100%;
    
}
.about-me{
    width: 52%;
    padding: 2rem;
    padding-left: 8rem;

}
a.frame-9{
    text-decoration: none;
    color: #FFB742;
    font-size: 20px;
    background-color: rgba(255, 255, 255, 0.08);
    border: 2px solid rgba(255, 255, 255, 0.08);
    border-radius: 30%;
    text-transform: uppercase;
    padding: 1rem 1rem;
}
.tex4{
    color: #FFFFFF;
    font-size: 48px;
    margin-top: 1rem;
    width: 90%;

}
.text5{
    color: #d4d4d4;
    font-size: 16px;
    margin-top: 2rem;
    margin-right: 1rem;
    line-height: 2rem;
    vertical-align: top;
    letter-spacing: 0.1rem;
    word-spacing: 0.2rem;
    padding-right: 3rem;
    width: 79%;

}
.button2{
    margin-top: 4rem;
}
.conteiner3{
    display: flex;
    margin-left: 3%;
    margin-right: 2%;
}
.conteiner3-1{
    width: 50%;
    margin-top: 3rem;
    padding-right: 12%;
   
}
.conteiner3-2{
    width: 49%;
    display: flex;
    flex-direction: column;
    
    
    
}
.group1{
    display: flex;
    
}
.group2{
    display: flex;
}

.icon {
    padding: 2%;
    background: #383e45;
    border: 2px solid #383e45;
    border-radius: 10%;
    margin: 1.5%;

    
}
.icon img{
    width: 100%;
}
.one{
    padding-left: 3%;
    padding-right: 3%;
}

.icon:hover{
    background: #FFB742;
}
.conteiner4{
    text-align: center;
    margin-top: 30vh;
}
.text6{
    color: #FFFFFF;
    font-size: 48px;
    margin-top: 1rem;  
}
.conteiner4-1{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 5vh;
    margin-right: 20%;
    margin-left: 20%;
}
.two{
    color: #FFFFFF;
    font-size: 16px;
    padding: 2% 3%;
    text-decoration: none;
}
.conteiner4-1 div{
    width: 40%;
}
.two:hover{
    color: #212529;
    background: #FFB742;
}
.conteiner4-2{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 5vh;
    margin-left: 7%;
    margin-right: 7%;
}
.conteiner4-2-1{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 80%;
    
   

}
.three{
    padding: 3%;
}
.three img{
    width: 100%;
}
.conteiner5{
    text-align: center;
    margin-top: 20vh;
    padding-bottom: 30vh;

}
.text7{
    color: #FFFFFF;
    font-size: 39.29px;
    margin-top: 1rem; 
}
.conteiner5-2{
    display: flex;
    justify-content: space-evenly;
    margin-left: 7%;
    margin-right: 7%;
    margin-top: 10vh;


}
.conteiner5-1{
    display: flex;
    background-color: #FFFFFF;
    width: 30%;
    border: 2px solid #FFFFFF;
    border-radius: 10%;
    text-align: left;
    box-sizing: border-box;
}
.conteiner5-1-1{
    display: flex;
    padding-top: 15%;
    padding-bottom: 12%;
    padding-left: 10%;
    

    
}
.star{
    padding-top: 10%;
    padding-left: 10%;
}
.star img{
    padding-right: 3%;
}
.text8{
    font-size: 20px;
    line-height: 40px;
    padding-top: 5%;
    padding-left: 10%;
    padding-right: 18%;

}
.text9{
    font-size: 20px;
    font-weight: 900;
}
.text10{
    font-size: 16px;
    padding-top: 5%;
}
.end-img{
    padding-right: 10%;
}
.footer{
    background-color: #1c1c1c;
}
.conteiner6{
    display: flex;
    justify-content: space-between;
    padding-top: 15vh;
    padding-bottom: 10vh;
    margin-left: 5%;
    margin-right: 5%;
}
.text11{
    color: #f5fbf2;
    font-size: 32px;
    font-weight: 700;
    text-decoration: none;
    padding-bottom: 10%;
}
.text12{
    color: #d4d4d4;
    font-size: 16px;
    font-weight: 600;
    padding-top: 15%;
    padding-right: 20%;
    line-height: 32px;
    text-decoration: none;
}
.text13{
    color: #f5fbf2;
    font-size: 21.59px;
    font-weight: 700;
    padding-bottom: 2rem;
}
.text14{
    color: #7b7b7b;
    font-size: 17.99px;
    line-height: 36.42px;
    font-weight: 500;
    padding-right: 20%;
    text-decoration: none;
    
}
.conteiner6 div:hover {
    color: #FFB742;

}
.conteiner6 a:hover{
    color: #FFB742;

}
.four{
    padding-bottom: 2rem;
}











