.cards{
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.card {
    height: auto;
    flex-direction: column;
}

.card img{
    width: 100%;
}

.box-modal{
    position: fixed;
    background-color: rgba(0, 0, 0, 0.459);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: none;
    justify-content: center;
    align-items: center;
}

.box-modal.active{
    display: flex;
}

.modal{
    width: 800px;
    height: 500px;
    overflow: auto;
    border-radius: 10px;
    position: relative;
    padding: 1rem;
    word-break: break-all;
}
#modal-closed{
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
    transition: transform .5s linear ;
    z-index: 2;
}
#modal-closed:hover{
    transform: scale(1.1);
}

.modal-body{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 100%;
    flex-direction: column;
}

.input{
    width: 300px;
    height: 50px;
    background-color:#FAFAFA ; 
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2), 0px 3px 4px rgba(0, 0, 0, 0.12), 0px 2px 4px rgba(0, 0, 0, 0.14);
    border-radius: 4px;
    text-align: center;
    font-size: 1.25rem;
    font-weight: 400;
}
.text-1-modal{
    font-size: 2.5rem;
    font-weight: 600;
}
.text-2-modal{
    font-size: 1.5rem;
}