body{
    margin: 0;
    padding: 0;
}
.conteiner{
  display: flex;
  margin-bottom: 50px;
  margin-top: 50px;
  justify-content: space-evenly;
  align-items: center;
}
.card{
    height: 350px;
    width: 40%;
    background-color: rgb(240, 234, 234);
    padding: 30px;
}
.data{
    margin-bottom: 15px;
}
.text{
    font-size: 1.25rem;
}
.text2{
    font-size: 1.25rem;
    padding-top: 20px;
}
.conteiner1{
    display: flex;
    margin-left: 5%;

}
.conteiner1 input{
    margin-left: 380%;
    padding: 10px;
}
.conteiner1 div{
    font-size: 2rem;
}
.pagination {
    display: flex;
    justify-content: flex-end;
    padding-right: 3.1%;
    padding-bottom: 15px;
}

.pagination input {
    width: 2.4%;
    height: 35px;
    margin-right: 1%;
    color: #0e0d0d;
    border: 1px solid #111111;
    font-family: "Oswald";
    font-size: 1.25rem;
    margin-top: 26px;
    cursor: pointer;


}

.pagination input.active {
    color: #cf0f0f!important;
    border: 1px solid #d30e0e!important; 
}
.page{
    display: none;
    margin-left: 4%;
    margin-top: 20px;
    margin-right: 4%;
   
    
}
.page.active{
    display: block;
}

.user{
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
    
}
.patern{
    background-color: rgb(240, 234, 234);
    margin-bottom: 20px;
    padding: 15px;
}
.text1{
    font-size: 1.75rem;
}
.text3{
    text-align: center;
    padding-top: 15px;
    text-decoration: underline;
}

